@{
    ViewData["Title"] = "Create";
}

<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">

            <div class="row" style="margin-top:20px">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <form method="post" enctype="multipart/form-data">
                                <div class="mb-3 row">
                                    <label class="col-md-2 col-form-label">Image</label>
                                    <div class="col-md-10">
                                        <input accept="image/*" type="file" accept="image/*" class="form-control">
                                        <span class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="mb-3 row">
                                    <label for="example-tel-input" class="col-md-2 col-form-label">Course Name</label>
                                    <div class="col-md-10">
                                        <input class="form-control" type="text">
                                    </div>
                                </div>

                                <div class="mb-3 row">
                                    <label for="example-tel-input" class="col-md-2 col-form-label">Description</label>
                                    <div class="col-md-10">
                                    <textarea id="textarea" class="form-control" maxlength="225" rows="3"
                                              placeholder="This textarea has a limit of 225 chars."></textarea>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label for="example-tel-input" class="col-md-2 col-form-label">About Cours</label>
                                    <div class="col-md-10">
                                        <input class="form-control" type="text">
                                    </div>
                                </div>

                                <div class="mb-3 row">
                                    <label for="example-tel-input" class="col-md-2 col-form-label">About Cours Description</label>
                                    <div class="col-md-10">
                                    <textarea id="textarea" class="form-control" maxlength="225" rows="3"
                                              placeholder="This textarea has a limit of 225 chars."></textarea>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label for="example-tel-input" class="col-md-2 col-form-label">HOW TO APPLY</label>
                                    <div class="col-md-10">
                                        <input class="form-control" type="text">
                                    </div>
                                </div>

                                <div class="mb-3 row">
                                    <label for="example-tel-input" class="col-md-2 col-form-label">HOW TO APPLY Description</label>
                                    <div class="col-md-10">
                                    <textarea id="textarea" class="form-control" maxlength="225" rows="3"
                                              placeholder="This textarea has a limit of 225 chars."></textarea>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label for="example-tel-input" class="col-md-2 col-form-label">Certification</label>
                                    <div class="col-md-10">
                                        <input class="form-control" type="text">
                                    </div>
                                </div>

                                <div class="mb-3 row">
                                    <label for="example-tel-input" class="col-md-2 col-form-label">Certification Description</label>
                                    <div class="col-md-10">
                                    <textarea id="textarea" class="form-control" maxlength="225" rows="3"
                                              placeholder="This textarea has a limit of 225 chars."></textarea>
                                    </div>
                                </div>


                                <div class="mb-3 row">
                                    <label for="example-number-input" class="col-md-2 col-form-label">STUDENTS</label>
                                    <div class="col-md-10">
                                        <input class="form-control" type="number" value="42" placeholder="Enter Number" id="example-number-input">
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label for="example-datetime-local-input" class="col-md-2 col-form-label">
                                        Date and
                                        Time
                                    </label>
                                    <div class="col-md-10">
                                        <input class="form-control" type="datetime-local" value="2023-08-19T13:45:00"
                                               id="example-datetime-local-input">
                                    </div>
                                </div>


                                <div class="mb-3 row">
                                    <label class="col-md-2 col-form-label">Select</label>
                                    <div class="col-md-10">
                                        <select class="form-select">
                                            <option>Select</option>
                                            <option>Large select</option>
                                            <option>Small select</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




@*

<div class="mb-4">
    <label>Default Functionality</label>
    <div class="input-group" id="datepicker1">
        <input type="text" class="form-control" placeholder="dd M, yyyy"
               data-date-format="dd M, yyyy" data-date-container='#datepicker1' data-provide="datepicker">

        <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
    </div><!-- input-group -->
</div>*@