@model CourseFullDetailsViewModel
@{
    ViewData["Title"] = "Edit";
}


<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">
            <div class="row" style="margin-top:20px">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <form method="post" enctype="multipart/form-data">
                                <div style="margin-bottom:30px" class="form-group text-center">
                                    <img id="ImageView" />
                                </div>
                                <div class="mb-3 row">
                                    <img  src="~/assets/img/course//@Model.ImagePath"/>
                                </div>
                                <div class="mb-3 row">
                                    <label asp-for="ImagePath" class="col-md-2 col-form-label">Image</label>
                                    <div class="col-md-10">
                                        <input asp-for="ImagePath" accept="image/*" type="file" accept="image/*" class="form-control">
                                        <span asp-validation-for="ImagePath" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="mb-3 row">
                                    <label asp-for="Cours" for="example-tel-input" class="col-md-2 col-form-label">Course Name</label>
                                    <div class="col-md-10">
                                        <input asp-for="Cours" class="form-control" type="text">
                                        <span asp-validation-for="Cours" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="mb-3 row">
                                    <label asp-for="Description" for="example-tel-input" class="col-md-2 col-form-label">Description</label>
                                    <div class="col-md-10">
                                        <textarea asp-for="Description" id="textarea" class="form-control" maxlength="225" rows="3"
                                                  placeholder="This textarea has a limit of 300 chars."></textarea>
                                        <span asp-validation-for="Description" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label asp-for="AboutCours" for="example-tel-input" class="col-md-2 col-form-label">About Cours</label>
                                    <div class="col-md-10">
                                        <input asp-for="AboutCours" value="About Cours" class="form-control" type="text">
                                        <span asp-validation-for="AboutCours" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="mb-3 row">
                                    <label asp-for="AboutCoursDescription" for="example-tel-input" class="col-md-2 col-form-label">About Cours Description</label>
                                    <div class="col-md-10">
                                        <textarea asp-for="AboutCoursDescription" id="textarea" class="form-control" maxlength="225" rows="3"
                                                  placeholder="This textarea has a limit of 225 chars."></textarea>
                                        <span asp-validation-for="AboutCoursDescription" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label asp-for="ToApply" for="example-tel-input" class="col-md-2 col-form-label">HOW TO APPLY</label>
                                    <div class="col-md-10">
                                        <input asp-for="ToApply" value="HOW TO APPLY" class="form-control" type="text">
                                        <span asp-validation-for="ToApply" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="mb-3 row">
                                    <label asp-for="ToApplyDescription" for="example-tel-input" class="col-md-2 col-form-label">HOW TO APPLY Description</label>
                                    <div class="col-md-10">
                                        <textarea asp-for="ToApplyDescription" id="textarea" class="form-control" maxlength="225" rows="3"
                                                  placeholder="This textarea has a limit of 225 chars."></textarea>
                                        <span asp-validation-for="ToApplyDescription" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label asp-for="Certification" for="example-tel-input" class="col-md-2 col-form-label">Certification</label>
                                    <div class="col-md-10">
                                        <input asp-for="Certification" value="Certification" class="form-control" type="text">
                                        <span asp-validation-for="Certification" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="mb-3 row">
                                    <label asp-for="CertificationDescription" for="example-tel-input" class="col-md-2 col-form-label">Certification Description</label>
                                    <div class="col-md-10">
                                        <textarea asp-for="CertificationDescription" id="textarea" class="form-control" maxlength="225" rows="3"
                                                  placeholder="This textarea has a limit of 225 chars."></textarea>
                                        <span asp-validation-for="CertificationDescription" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="mb-3 row">
                                    <label asp-for="Starts" for="example-datetime-local-input" class="col-md-2 col-form-label">
                                        Date and
                                        Time
                                    </label>
                                    <div class="col-md-10">
                                        <input asp-for="Starts" class="form-control" type="datetime-local" 
                                               id="example-datetime-local-input">
                                        <span asp-validation-for="Starts" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="mb-3 row">
                                    <label asp-for="Month" for="example-number-input" class="col-md-2 col-form-label">DURATION</label>
                                    <div class="col-md-10">
                                        <input asp-for="Month" class="form-control" type="number" value="1" placeholder="Enter Number" id="example-number-input">
                                        <span asp-validation-for="Month" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="mb-3 row">
                                    <label asp-for="Hours" for="example-number-input" class="col-md-2 col-form-label">Hours</label>
                                    <div class="col-md-10">
                                        <input asp-for="Hours" class="form-control" type="number" value="1" placeholder="Enter Number" id="example-number-input">
                                        <span asp-validation-for="Hours" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="mb-3 row">
                                    <label asp-for="Level" for="example-tel-input" class="col-md-2 col-form-label">SKILL LEVEL</label>
                                    <div class="col-md-10">
                                        <input asp-for="Level" class="form-control" type="text">
                                        <span asp-validation-for="Level" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="mb-3 row">
                                    <label asp-for="Language" for="example-tel-input" class="col-md-2 col-form-label">LANGUAGE</label>
                                    <div class="col-md-10">
                                        <input asp-for="Language" class="form-control" type="text">
                                        <span asp-validation-for="Language" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="mb-3 row">
                                    <label asp-for="Students" for="example-number-input" class="col-md-2 col-form-label">STUDENTS</label>
                                    <div class="col-md-10">
                                        <input asp-for="Students" class="form-control" type="number" value="1" placeholder="Enter Number" id="example-number-input">
                                        <span asp-validation-for="Students" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="mb-3 row">
                                    <label asp-for="Assesments" for="example-tel-input" class="col-md-2 col-form-label">ASSESMENTS</label>
                                    <div class="col-md-10">
                                        <input asp-for="Assesments" class="form-control" type="text">
                                        <span asp-validation-for="Assesments" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="mb-3 row">
                                    <label asp-for="CourseFee" for="example-number-input" class="col-md-2 col-form-label">COURSE FEE</label>
                                    <div class="col-md-10">
                                        <input asp-for="CourseFee" class="form-control" type="number" value="1" placeholder="Enter Number" id="example-number-input">
                                        <span asp-validation-for="CourseFee" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="mb-3 row">
                                    <label class="col-md-2 col-form-label">Select</label>
                                    <div class="col-md-10">
                                        <select class="form-select" name="CategorId">
                                            @foreach (var category in ViewBag.catagory)
                                            {
                                                <option value="@category.Id">@category.Categorie</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <button type="submit" class="btn btn-outline-success w-md">Submit</button>
                                    <a asp-controller="Courses" asp-action="Index" class="btn btn-secondary" style="width:1250px;margin-top:15px">
                                        Back to List
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts
    {
    @{
        <partial name="_ValidationScript" />
    }
    <script>
        $("#Image").on("change", function () {
            var file = this.files[0];
            if (file) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#ImageView').attr('src', e.target.result);
                }
                reader.readAsDataURL(file);
            }
            var image = document.getElementById('ImageView');
            image.style.width = '250px';
            image.style.borderRadius = '50%';
        });

    </script>
}
