@model SpeakerViewModel
@{
    ViewData["Title"] = "Create";
}

<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <div class="row" style="margin-top:20px">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <form method="post" enctype="multipart/form-data">
                                <div class="mb-3 row">
                                    <label asp-for="Image" class="col-md-2 col-form-label">Image</label>
                                    <div class="col-md-10">
                                        <input asp-for="Image" accept="image/*" type="file" class="form-control">
                                        <span asp-validation-for="Image" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="mb-3 row">
                                    <label asp-for="Name" class="col-md-2 col-form-label">Person Name</label>
                                    <div class="col-md-10">
                                        <input asp-for="Name" class="form-control" type="text">
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="mb-3 row">
                                    <label asp-for="Postions" class="col-md-2 col-form-label">Positions</label>
                                    <div class="col-md-10">
                                        <input asp-for="Postions" class="form-control" type="text">
                                        <span asp-validation-for="Postions" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="mb-3 row">
                                    <label asp-for="JobName" class="col-md-2 col-form-la">JobName</label>
                                    <div class="col-md-10">
                                        <input asp-for="JobName" class="form-control" type="text">
                                        <span asp-validation-for="JobName" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="mb-3 row">
                                    <label>Select Events:</label>
                                    @if (ViewBag.Eventsss != null)
                                    {
                                        foreach (var eventItem in ViewBag.Eventsss)
                                        {
                                            <div>
                                                <input type="checkbox" name="SelectedEventIds" value="@eventItem.Id" /> @eventItem.Name
                                            </div>
                                        }
                                    }
                                </div>


                                <div class="mb-3 row">
                                    <button style="margin-top:30px" type="submit" class="btn btn-success waves-effect waves-light">Submit</button>
                                    <button style="margin-top:20px" type="button" class="btn btn-dark waves-effect waves-light">
                                        <a asp-action="Index" style="color:white">Back To List</a>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    @{
        <partial name="_ValidationScript" />
    }
}
