@model HomeViewModel
@{
    ViewData["Title"] = "Details";
    int count = 1;
}
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script>
    AOS.init();
</script>

<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div style="background-color:slategrey;">
                    @foreach (var item in Model.speakers)
                    {
                        if (item.Id == ViewBag.DetailSpkearId)
                        {
                            <div style="display:flex;justify-content:center;">
                                <div>
                                    <img data-aos="fade-up" style="width:450px" src="/@item.ImagePath"></img>
                                </div>
                            </div>
                            <div style="margin-top:40px;display:flex;justify-content:center;">
                                <div style="width:1000px">
                                    <div style="display:flex;justify-content:space-between; color:white;font-size:18px"><span data-aos="fade-right">Name</span><span data-aos="fade-left">@item.Name</span></div>
                                    <hr />
                                    <div style="display:flex;justify-content:space-between; color:white;font-size:18px"><span data-aos="fade-right">Postions</span><span data-aos="fade-left">@item.Postions</span></div>
                                    <hr />
                                    <div style="display:flex;justify-content:space-between; color:white;font-size:18px"><span data-aos="fade-right">Job Name</span><span data-aos="fade-left">@item.JobName</span></div>
                                    <hr />
                                    @foreach (var evs in Model.events_Speakers)
                                    {
                                        if (evs.SpeakersId == item.Id)
                                        {
                                            <div data-aos="fade-left" style="display:flex;justify-content:space-between; color:white;font-size:18px"><span>Event(@count)</span><span>@evs.Events.Name</span></div>
                                            count++;
                                        }
                                    }
                                    <hr />
                                </div>
                            </div>

                            <div style="margin-top:80px">
                                <div class="mb-3 row">
                                    <a asp-controller="Speaker" asp-action="Index" class="btn btn-secondary" style="width:1250px;margin-top:15px">
                                        Back to List
                                    </a>
                                </div>
                            </div>

                            break;
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>