<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>404 - Sayfa Bulunamadı</title>
</head>
<body>
    <div style="text-align: center; padding: 50px;">
        <h1>404 - Sayfa Bulunamadı</h1>
        <p>Üzgünüz, istediğiniz sayfa bulunamadı.</p>
    </div>
</body>
</html>
