@model HomeViewModel
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div style="background-color:slategrey;">
                    @foreach (var item in Model.viewers)
                    {
                        if (item.Id == ViewBag.ContDelete)
                        {
                            <form method="post">
                                <div style="margin-top:40px;display:flex;justify-content:center;">
                                    <div style="width:1000px">
                                        <div style="display:flex;justify-content:space-between; color:white;font-size:18px"><span>Course Name</span><span>@item.Name</span></div>
                                        <hr />
                                        <div style="display:flex;justify-content:space-between; color:white;font-size:18px"><span>Date and Time</span><span>@item.Email</span></div>
                                        <hr />
                                        <div style="display:flex;justify-content:space-between; color:white;font-size:18px"><span>DURATION</span><span>@item.Subject</span></div>
                                    </div>
                                </div>

                                <div style="margin-top:70px">
                                    <div style="color:white;font-size:18px">
                                        @item.Message
                                    </div><br /><br />
                                </div>

                                <div style="margin-top:80px">
                                    <div class="mb-3 row">
                                        <button type="submit" class="btn btn-danger waves-effect waves-light">Delete</button>
                                        <a asp-controller="Contactt" asp-action="Index" class="btn btn-secondary" style="width:1250px;margin-top:15px">
                                            Back to List
                                        </a>
                                    </div>
                                </div>

                            </form>
                            break;
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>







