@model HomeViewModel
@{
    ViewData["Title"] = "Delete";
}


<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div style="background-color:slategrey;">
                    @foreach (var item in Model.sliders)
                    {
                        if (item.Id == ViewBag.SliderID)
                        {
                            <form method="post">
                                <div style="display:flex;justify-content:center;">
                                    <div>
                                        <img style="width:450px" src="/@item.ImagePath"></img>
                                    </div>
                                </div>
                                <div style="margin-top:40px;display:flex;justify-content:center;">
                                    <div style="width:1000px">
                                        <div style="display:flex;justify-content:space-between; color:white;font-size:18px"><span>Course Name</span><span>@item.Name</span></div>
                                        <hr />
                                        <div style="display:flex;justify-content:space-between; color:white;font-size:18px"><span>DURATION</span><span>@item.NameTwo</span></div>
                                        <hr />
                                    </div>
                                </div>

                                <div style="margin-top:70px">
                                    <div style="color:white;font-size:18px">
                                        <p style="color:black;font-size:28px;font-weight:570;text-decoration: underline;">@item.Name</p>
                                        <p>@item.Information</p>
                                    </div><br /><br />
                                </div>

                                <div style="margin-top:80px">
                                    <div class="mb-3 row">
                                        <button type="submit" class="btn btn-danger waves-effect waves-light">Delete</button>
                                        <a asp-controller="Slider" asp-action="Index" class="btn btn-secondary" style="width:1250px;margin-top:15px">
                                            Back to List
                                        </a>
                                    </div>
                                </div>
                            </form>
                            break;
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
