@model BlogViewModel
@{
    ViewData["Title"] = "Edit";
}

<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-6">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title mb-4" style="color:green;font-size:20px">Update Blogs</h4>
                            <form method="post" asp-action="Edit"  enctype="multipart/form-data">
                                <div style="margin-bottom:30px" class="form-group text-center">
                                    <img id="ImageView" />
                                </div>
                                @*<img width="200px" src="/@Model.ImagePath" />*@
                                <div class="row mb-4" style="margin-top:20px">
                                    <label asp-for="ImagePath" for="horizontal-firstname-input" class="col-sm-3 col-form-label">Main Image</label>
                                    <div class="col-sm-9">
                                        <input asp-for="ImagePath" type="file" class="form-control" id="horizontal-firstname-input" placeholder="Main Image (URL)">
                                        <span asp-validation-for="ImagePath" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="row mb-4">
                                    <label asp-for="Name" class="col-sm-3 col-form-label">Name</label>
                                    <div class="col-sm-9">
                                        <input asp-for="Name" type="text" accept="image/*" placeholder="Name" class="form-control">
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="row mb-4">
                                    <label asp-for="Decs" class="col-sm-3 col-form-label">Description</label>
                                    <div class="col-sm-9">
                                        <input asp-for="Decs" type="text" accept="image/*" class="form-control">
                                        <span asp-validation-for="Decs" class="text-danger"></span>
                                    </div>
                                </div>


                                <div class="row mb-4">
                                    <label asp-for="PersonName" class="col-sm-3 col-form-label">Person Name</label>
                                    <div class="col-sm-9">
                                        <input asp-for="PersonName" type="text" class="form-control" placeholder="Person Name">
                                        <span asp-validation-for="PersonName" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="row mb-4">
                                    <label asp-for="Data_Time" class="col-sm-3 col-form-label">Date Time</label>
                                    <div class="col-sm-9">
                                        <input asp-for="Data_Time" type="text" class="form-control" placeholder="Time">
                                        <span asp-validation-for="Data_Time" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="row mb-4">
                                    <label asp-for="MessageNum" class="col-sm-3 col-form-label">Message Box</label>
                                    <div class="col-sm-9">
                                        <input asp-for="MessageNum" type="text" class="form-control" placeholder="Message Number">
                                        <span asp-validation-for="MessageNum" class="text-danger"></span>
                                    </div>
                                </div>


                                <div class="row justify-content-end">
                                    <div class="col-sm-9">
                                        <div>
                                            <button type="submit" class="btn btn-outline-success w-md">Submit</button>
                                            <a asp-controller="Dashboard" asp-action="Index" class="btn btn-secondary" style="width:150px">
                                                Back to List
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- end card body -->
                    </div>
                    <!-- end card -->
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts
    {
    @{
        <partial name="_ValidationScript" />
    }
    <script>
        $("#ImagePath").on("change", function () {
            var file = this.files[0];
            if (file) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#ImageView').attr('src', e.target.result);
                }
                reader.readAsDataURL(file);
            }
            var image = document.getElementById('ImageView');
            image.style.width = '250px';
            image.style.borderRadius = '50%';
        });

    </script>
}
